<h3><i><u>Blogger Information</u></i></h3>

<p><font color="black">A blog (a portmanteau of the term web log)[1] is a discussion or information site published on the World Wide Web consisting of discrete entries ("posts") typically displayed in reverse chronological order so the most recent post appears first. Until 2009 blogs were usually the work of a single individual, occasionally of a small group, and often were themed on a single subject. More recently "multi-author blogs" (MABs) have developed, with posts written by large numbers of authors and professionally edited. MABs from newspapers, other media outlets, universities, think tanks, interest groups and similar institutions account for an increasing proportion of blog traffic. The rise of Twitter and other "microblogging" systems helps integrate MABs and single-author blogs into societal newstreams. Blog can also be used as a verb, meaning to maintain or add content to a blog. The emergence and growth of blogs in the late 1990s coincided with the advent of web publishing tools that facilitated the posting of content by non-technical users. (Previously, a knowledge of such technologies as HTML and FTP had been required to publish content on the Web.) Although not a must, most good quality blogs are interactive, allowing visitors to leave comments and even message each other via GUI widgets on the blogs, and it is this interactivity that distinguishes them from other static websites.[2] In that sense, blogging can be seen as a form of social networking. Indeed, bloggers do not only produce content to post on their blogs but also build social relations with their readers and other bloggers.[3] Many blogs provide commentary on a particular subject; others function as more personal online diaries; yet still others function more as online brand advertising of a particular individual or company. In education blogs can be used as instructional resources. These blogs are referred to as an Edublog. A typical blog combines text, images, and links to other blogs, Web pages, and other media related to its topic. The ability of readers to leave comments in an interactive format is an important part of many blogs. Most blogs are primarily textual, although some focus on art (art blogs), photographs (photoblogs), videos (video blogs or "vlogs"), music (MP3 blogs), and audio (podcasts). Microblogging is another type of blogging, featuring very short posts.</font></p><br/>
<br/>
<br/>

<br/>
<br/>

<br/>
<br/>

<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   
<%= link_to " Create New Article", new_article_path, :class => "new_article" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'contact us', :action=>'contact_us'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   
<%= link_to 'Dominus', :action=>'me_us'%>