<h2><u>Contact us</u></h2>


<ol>


   <p><b><font color="blue">Blogger Developer:-</font></b></u></p>
  <h3> <p><b><font color="blue">Rakesh Kumar:-</font></b></p></h3>
   <p><font color="blue">Email id :-<font color="black"><br>            

      (1) rakeshmaurya262@gmail.com<br/> 
                                        (2) sunnymaurya262@yahoo.com<br/>

   <p><font color="blue">Permanent Address :- <font color="black">
   <br> Vill-Bhagchuri<br/>
   	Post-Nausar<br/>
   	Udham Singh Nagar<br/>
   	Pin-262308<br/>
   	Uttarakhand
   	India</font></p>
   	<p><font color="">Current Address :-<font color="black">
    <br> Cauvery Boys Hostel<br/>
   	CQAL Layout<br/>
   	SahakaraNagar<br/>
   	Bangalore-560092<br/>
   	Karnataka
   	India</font>
   	<br/>
<br/>

<br/>
<br/>

<br/>
<br/>




</ol>
<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to " Create New Article", new_article_path, :class => "new_article" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Blogger Information', :action=>'blogger_information'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Dominus', :action=>'me_us'%>

